flowchart LR
%% view: {{ .ViewID }} ({{ .ViewKind }})
{{- range .Nodes }}
{{ . }}
{{- end }}
{{- range .Edges }}
{{- if .Label }}
{{ .From }} -->|{{ .Label }}| {{ .To }}
{{- else }}
{{ .From }} --> {{ .To }}
{{- end }}
{{- end }}

{{- range .ClassDefs }}
{{ . }}
{{- end }}
